In [1]:
import os
import pandas as pd
from glob import glob
from tqdm import tqdm

In [2]:
csvs = glob(f"./csv/*.csv")

In [3]:
csvs.sort()

In [7]:
df

,timestamp,area,name,countingDirection
0,2021-06-08T00:04:24.163Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop
0,2021-06-08T00:22:33.43Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop
1,2021-06-08T00:22:50.014Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop
0,2021-06-08T02:47:28.132Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,leftright_topbottom
0,2021-06-10T04:39:44.514Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop
...,...,...,...,...
7,2021-08-02T15:45:32.272Z,c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3,car,leftright_topbottom
0,2021-08-02T15:45:32.516Z,6e5dceca-8013-4519-aca2-b45358cce73e,car,leftright_topbottom
0,2021-08-02T15:52:58.321Z,6e5dceca-8013-4519-aca2-b45358cce73e,car,rightleft_bottomtop
1,2021-08-02T15:52:58.933Z,6310ae42-644a-4174-98bf-befba26e8916,car,rightleft_bottomtop
2,2021-08-02T15:53:10.38Z,1d45e690-9660-4876-991d-32c2838c2073,person,leftright_topbottom

In [5]:
df = pd.concat([pd.read_csv(csv) for csv in tqdm(csvs)])

100%|██████████| 16581/16581 [00:15<00:00, 1089.30it/s]

In [6]:
df = df.drop(columns=["Unnamed: 0", "frameId", "id", "bearing", "angleWithCountingLine"], axis=1)

In [8]:
df["day"] = df["timestamp"].apply(lambda x: str(x)[:11])

In [9]:
df.to_csv(f"./csv/marutto_emergence.csv")

In [10]:
df

,timestamp,area,name,countingDirection,day
0,2021-06-08T00:04:24.163Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop,2021-06-08T
0,2021-06-08T00:22:33.43Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop,2021-06-08T
1,2021-06-08T00:22:50.014Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop,2021-06-08T
0,2021-06-08T02:47:28.132Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,leftright_topbottom,2021-06-08T
0,2021-06-10T04:39:44.514Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop,2021-06-10T
...,...,...,...,...,...
7,2021-08-02T15:45:32.272Z,c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3,car,leftright_topbottom,2021-08-02T
0,2021-08-02T15:45:32.516Z,6e5dceca-8013-4519-aca2-b45358cce73e,car,leftright_topbottom,2021-08-02T
0,2021-08-02T15:52:58.321Z,6e5dceca-8013-4519-aca2-b45358cce73e,car,rightleft_bottomtop,2021-08-02T
1,2021-08-02T15:52:58.933Z,6310ae42-644a-4174-98bf-befba26e8916,car,rightleft_bottomtop,2021-08-02T
2,2021-08-02T15:53:10.38Z,1d45e690-9660-4876-991d-32c2838c2073,person,leftright_topbottom,2021-08-02T

In [12]:
df.sort_values(by="day")

,timestamp,area,name,countingDirection,day
0,2021-06-08T00:04:24.163Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,car,rightleft_bottomtop,2021-06-08T
1,2021-06-08T09:11:18.702Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,rightleft_bottomtop,2021-06-08T
2,2021-06-08T09:11:19.752Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,rightleft_bottomtop,2021-06-08T
3,2021-06-08T09:11:28.843Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,rightleft_bottomtop,2021-06-08T
0,2021-06-08T09:12:18.65Z,f51fedf8-3ad3-4276-91e2-e25f51b3d1ee,person,leftright_topbottom,2021-06-08T
...,...,...,...,...,...
337,2021-11-12T03:24:09.453Z,c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3,person,rightleft_bottomtop,2021-11-12T
336,2021-11-12T03:23:38.728Z,c382db9f-2dc5-487e-8ea0-cb6e2c1d4aa3,person,leftright_topbottom,2021-11-12T
335,2021-11-12T03:23:37.166Z,6310ae42-644a-4174-98bf-befba26e8916,person,leftright_topbottom,2021-11-12T
345,2021-11-12T03:24:38.513Z,6310ae42-644a-4174-98bf-befba26e8916,car,leftright_topbottom,2021-11-12T
140,2021-11-12T11:48:10.205Z,b4652e36-51d2-4e9e-94d7-39c589db807c,person,rightleft_bottomtop,2021-11-12T